# Module 2 Summative Lab

## Introduction

For today's section, we're going to work on a single big lab to apply everything we've learned in Mod 2!

## About This Lab

A quick note before getting started--this lab isn't like other labs you seen so far. This lab is meant to take ~8 hours to complete, so it's much longer and more challenging than the average labs you've seen so far. If you feel like this lab is challenging or that you might be struggling a bit, don't fret--that's by design! With everything we've learned about Web Scraping, APIs, and Databases, the best way to test our knowledge of it is to build something substantial! 

## The Project

In this lab, we're going to make use of everything we've learned about APIs, databases, and Object-Oriented Programming to **_Extract, Transform, and Load_** (or **_ETL_**, for short) some data from a SQL database into a MongoDB Database. 

You'll find a database containing information about soccer teams and the matches they've played in the file `database.sqlite`. For this project, our goal is to get the data we think is important from this SQL database, do some calculations and data transformation, and then store everything in a MongoDB database. 

Let's get into the specifics of this project.

### The Goal

Start by examining the data dictionary for the SQL database we'll be working with, which comes from this [kaggle page](https://www.kaggle.com/laudanum/footballdelphi).  Familiarize yourself with the tables it contains, and what each column means. We'll be using this database to get data on each soccer team, calculate some summary statistics, and then store each in a MongoDB database. 

Upon completion of this lab, each unique team in this dataset should have a record in the MongoDB instance containing the following information:

* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly by assigning it to a variable)
* The team's win percentage on days where it was raining during games in the 2011 season. 

#### Getting the Weather Data

Note that for this last calculation, you'll need to figure out if it was raining or not during the game. The database itself does not contain this information, but it does contain the date on which the game was played. For this, you'll need to use the [DarkSky API](https://darksky.net/dev) to get the historical weather data for that day. Note that each game is played in a different location, and this information is not contained in our SQL database. However, the teams in this database are largely german, so go ahead and just use the weather in Berlin, Germany as a proxy for this information. If it was raining in Berlin on the day the game was played, count that as rain game--**_you do not need to try and figure out the actual weather at each game's location, because we don't have that information!_**

#### NOTE: The DarkSky API is limited to 1000 free API calls a day, so be sure to test your model on very small samples. Otherwise, you'll hit the rate limit!

## Project Architecture

Unlike previous labs, this lab is more open-ended, and will require you to make design decisions and plan out your strategy for building a system with this many working parts. However, **_using Object-Oriented Programming is a requirement for this project--you must create at least 2 separate, well-structured classes in your solution!_** Although it may seem easier to "just start coding", this is a classic beginner's mistake. Instead, think about separating out the different functionalities you'll need to reach your goal, and then build classes to handle each. For instance, at a minimum, you'll need to:

* Query the SQL database
* Calculate summary statistics
* Get the weather data from the DarkSky API
* Load the data into MongoDB

We **_strongly recommend_** you consider creating separate classes for handling at least some of these tasks.  Be sure to plan the inputs, outputs, and methods for each class before you begin coding! 

**_NOTE:_** We have provided some empty classes below. You are welcome to delete them and use a different architecture for this project if you so choose.  You do not have to use each of them, they are just there to give you an idea of what sorts of classes you may want to consider using.

### Rapid Prototyping and Refactoring

It's totally okay to try to get a task working without using OOP. For instance, when experimenting with the DarkSky API for getting historical weather data, it makes sense to just write the code in the cells and rapidly iterate until you get it all working. However, once you get it working, you're not done--you should then **_Refactor_** your code into functions or classes to make your code more modular, reusable, understandable, and maintainable! 

In short--do what you need to do to get each separate piece of functionality working, and then refactor it into a class after you've figured it out!

### Some Final Advice

You haven't built anything this big or complex thus far, so you may not yet fully realize how much trial and error goes into it. If your code keeps breaking, resist the urge to get frustrated, and just keep working. Software development is an iterative process!  No one writes perfect code that works the first time for something this involved. You're going to run into _a lot_ of small errors in this project, right up until the point where it just works, and then you're done! However, you can reduce these errors by planning out your code, and thinking about how all of the pieces fit together before you begin coding. Once you have some basic understanding of how it all will work, then you'll know what you need to build, and then all that is left is to build it!

In short:

* Plan ahead--you'll thank yourself later!
* Errors and broken code aren't bad, they're normal. 
* Keep working, and stay confident--you can do this!

Good luck--we look forward to seeing your completed project!

In [1]:
#Import necessary libraries
import sqlite3
import requests
import pymongo
import pandas as pd
import matplotlib.pyplot as plt
import json
import io
import base64

#Necessary classes

class Team_in_2011:
    
    def __init__(self, name=''):
        self.name = name
    
    def setname(self, name):
        self._name = name
    def getname(self):
        return self._name
    def delname(self):
        del self._name
    name = property(getname, setname, delname)
    
    def gethomedf(self):
        return self._homedf
    def sethomedf(self, df):
        self._homedf = df
    def delhomedf(self):
        del self._homedf
    homedf = property(gethomedf, sethomedf, delhomedf)
    
    def getawaydf(self):
        return self._awaydf
    def setawaydf(self, df):
        self._awaydf = df
    def delawaydf(self):
        del self._awaydf
    awaydf = property(getawaydf, setawaydf, delawaydf)
    
    def totalgoals(self):
        homegoals = self._homedf['FTHG'].sum()
        awaygoals = self._awaydf['FTAG'].sum()
        return int(homegoals + awaygoals)
    
    def totalwins(self):
        homewins = len(self._homedf[self._homedf['FTR']=='H'])
        awaywins = len(self._awaydf[self._awaydf['FTR']=='A'])
        return int(homewins + awaywins)
    
    def totalWDLs(self):
        wins = len(self._homedf[self._homedf['FTR']=='H']) + len(self._awaydf[self._awaydf['FTR']=='A'])
        draws = len(self._homedf[self._homedf['FTR']=='D']) + len(self._awaydf[self._awaydf['FTR']=='D'])
        losses = len(self._homedf[self._homedf['FTR']=='A']) + len(self._awaydf[self._awaydf['FTR']=='H'])
        return {'wins': wins, 'draws': draws, 'losses': losses}
    
    def barWDLs(self):
        wdldict = self.totalWDLs()
        my_bytesIObytes = io.BytesIO()
        fig = plt.figure()
        plt.bar(['Wins', 'Draws','Losses'],[wdldict['wins'],wdldict['draws'],wdldict['losses']],figure=fig)
        plt.title(self._name+' 2011 Match Results')
        plt.savefig(my_bytesIObytes, format='png')
        my_bytesIObytes.seek(0)
        my_base64_pngData = base64.b64encode(my_bytesIObytes.read())
        plt.close()
        return my_base64_pngData

    def rainywinpercentage(self):
        rainywins = len(self._homedf[(self._homedf['FTR']=='H')&(self._homedf['Rain']=='Y')]) + len(self._awaydf[(self._awaydf['FTR']=='A')&(self._awaydf['Rain']=='Y')])
        rainydraws = len(self._homedf[(self._homedf['FTR']=='D')&(self._homedf['Rain']=='Y')]) + len(self._awaydf[(self._awaydf['FTR']=='D')&(self._awaydf['Rain']=='Y')])
        rainylosses = len(self._homedf[(self._homedf['FTR']=='A')&(self._homedf['Rain']=='Y')]) + len(self._awaydf[(self._awaydf['FTR']=='H')&(self._awaydf['Rain']=='Y')])
        rainytotal = rainywins + rainydraws + rainylosses
        return float(round((rainywins/rainytotal)*100,2))
    
#####################################################################

class Weather_Getter:
  
    _baseurl = 'https://api.darksky.net/forecast/'
    _berlinlatlong = '52.5200,13.4050'
    _londonlatlong = '51.5074,0.1278'
    
    with open('/Users/johnnguyen/.secret/darksky_api.json') as f:
        keys = json.load(f)
        _apikey = keys['api_key']
        
    @classmethod
    def getWeatherList(cls, matchesdf):
        weatherList = []
        unix_dates = list((pd.to_numeric(pd.to_datetime(matchesdf['Date']))/10**9).astype('int'))
        
        for (i, div) in enumerate(matchesdf['Div']):

            if div == 'D1' or div == 'D2':
                latlong = cls._berlinlatlong
            else:
                latlong = cls._londonlatlong

            date = unix_dates[i]
            url = cls._baseurl + cls._apikey + '/' + latlong + ',' + str(date)
            resp = requests.get(url)
            #print(resp.status_code)
            resp_dict = json.loads(resp.text)
            resp_dict_daily = resp_dict['daily']['data'][0]

            if 'icon' in resp_dict_daily.keys() and resp_dict_daily['icon'] == 'rain':
                weatherList.append('Y')
            else:
                weatherList.append('N')

        return weatherList
    
#####################################################################

class Mongo_Handler:
    
    def __init__(self, db_address, db_name, collection_name):
        self._myclient = pymongo.MongoClient(db_address)
        self._mydb = self._myclient[db_name]
        self._mycollection = self._mydb[collection_name]
        
    def insertone(self, record):
        self._mycollection.insert_one(record)
    
    def insertmany(self, records):
        self._mycollection.insert_many(records)
        
    def printrecords(self):
        query = self._mycollection.find({})
        for x in query:
            print(x)

In [2]:
#Establish SQL connection and cursor
connection = sqlite3.connect('database.sqlite')
cursor = connection.cursor()

#Connect to MongoDB
mongo = Mongo_Handler('mongodb://127.0.0.1:27017/', 'football_results', 'team_results_2011')

In [3]:
#Previewing Matches in 2011
results = cursor.execute('''
                SELECT * FROM Matches
                WHERE Season == 2011;
                ''').fetchall()

matches_2011_df = pd.DataFrame(results)
matches_2011_df.columns = [i[0] for i in cursor.description]
print(len(matches_2011_df))
matches_2011_df.head()

992

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

In [4]:
#Unique teams in matches_2011_df

unique_teams_2011 = sorted(list(set(pd.concat((matches_2011_df['AwayTeam'],matches_2011_df['HomeTeam'])))))
print(len(unique_teams_2011))
print(unique_teams_2011)

56
['Aachen', 'Arsenal', 'Aston Villa', 'Augsburg', 'Bayern Munich', 'Blackburn', 'Bochum', 'Bolton', 'Braunschweig', 'Chelsea', 'Cottbus', 'Dortmund', 'Dresden', 'Duisburg', 'Ein Frankfurt', 'Erzgebirge Aue', 'Everton', 'FC Koln', 'Fortuna Dusseldorf', 'Frankfurt FSV', 'Freiburg', 'Fulham', 'Greuther Furth', 'Hamburg', 'Hannover', 'Hansa Rostock', 'Hertha', 'Hoffenheim', 'Ingolstadt', 'Kaiserslautern', 'Karlsruhe', 'Leverkusen', 'Liverpool', "M'gladbach", 'Mainz', 'Man City', 'Man United', 'Munich 1860', 'Newcastle', 'Norwich', 'Nurnberg', 'Paderborn', 'QPR', 'Schalke 04', 'St Pauli', 'Stoke', 'Stuttgart', 'Sunderland', 'Swansea', 'Tottenham', 'Union Berlin', 'Werder Bremen', 'West Brom', 'Wigan', 'Wolfsburg', 'Wolves']

In [8]:
mongo._mycollection.delete_many({})
mongo.printrecords()

In [9]:
#Master loop
for team in unique_teams_2011[:20]:
    print(team)
    
    #Filter home and away results for specific team
    home_matches_df = matches_2011_df[matches_2011_df['HomeTeam'] == team]
#    print(home_matches_df.head())
    away_matches_df = matches_2011_df[matches_2011_df['AwayTeam'] == team]
#    print(away_matches_df.head())
    print('Home and away dataframes created.')
    
    #DarkSky API call to add match rain information to both home and away dfs
    home_matches_df['Rain'] = Weather_Getter.getWeatherList(home_matches_df)
#    print(home_matches_df)
    away_matches_df['Rain'] = Weather_Getter.getWeatherList(away_matches_df)
#    print(away_matches_df)
    print('Rainy match information added to dataframes.')
    
    #Create Team objects to hold information of interest
    team_object = Team_in_2011(team)
    team_object.homedf = home_matches_df
    team_object.awaydf = away_matches_df
    print('Team object created.')

    #Create record to be inserted into MongoDB
    team_record = {'name': team_object.name, 'total_goals': team_object.totalgoals(), 'total_wins': team_object.totalwins(), 'results_graph': team_object.barWDLs(), 'rainy_win_percentage': team_object.rainywinpercentage()}
    results = mongo.insertone(team_record)
    print('Record added to database.')

Aachen
Home and away dataframes created.

/Users/johnnguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/johnnguyen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

Rainy match information added to dataframes.
Team object created.
Record added to database.
Arsenal
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Aston Villa
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Augsburg
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Bayern Munich
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Blackburn
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Bochum
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Bolton
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Braunschweig
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Chelsea
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Cottbus
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Dortmund
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Dresden
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Duisburg
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Ein Frankfurt
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Erzgebirge Aue
Home and away dataframes created.
Rainy match information added to dataframes.
Team object created.
Record added to database.
Everton
Home and away dataframes created.

KeyError: 'daily'

In [13]:
for x in mongo._mycollection.find({'name': 'Bayern Munich'}):
    print(x)

{'_id': ObjectId('5deb549feff7505bdd37ad2f'), 'name': 'Bayern Munich', 'total_goals': 77, 'total_wins': 23, 'results_graph': b'iVBORw0KGgoAAAANSUhEUgAAAbAAAAEgCAYAAADVKCZpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDMuMC4yLCBodHRwOi8vbWF0cGxvdGxpYi5vcmcvOIA7rQAAHYpJREFUeJzt3XlYlXX+//EXAikKCMgiikmooSMqY6ShoRmBJSOWJqamoBbaaM2VTuk1jY1Z41iNZY05hpliuVXXlZZbGmmTezjhksugJhESQmKJC7J8fn/463xjpLRGOedjz8d1eV3cyznnfc4NPLlvTuRmjDECAMAy9Zw9AAAAvwQBAwBYiYABAKxEwAAAViJgAAArETAAgJUIGADASgQMAGAlAgYAsBIBAwBYiYABAKxEwAAAViJgAAArETAAgJUIGADASgQMAGAlAgYAsBIBAwBYiYDhV2XMmDF6+umnL7nfbbfdptdee60OJrKfm5ubDh065OwxflJ4eLg+/PBDZ4+BK4yAXWPCw8Pl5eUlb29v+fv7KykpSfn5+c4e65KOHj0qNzc3de7cucb6kpISXXfddQoPD78ijzNnzhxNnjz5itzX97Zt26aEhAQFBAQoKChIAwcOVGFhoWO7MUYTJ05UkyZN1KRJEz3++OMyxji2p6enKzIyUvXq1dOCBQtq3PfevXvVu3dvBQYGys3N7ZKzuLm5KSQkRJWVlY51lZWVCg4OvqzbS9LGjRsVFhZ2Wfv+XFOmTJGnp6e8vb3l5+enbt26aevWrVflsX5qhvvvv79OHxNXBwG7Br3//vsqKytTYWGhQkJC9PDDD9f5DFVVVb/odqdPn9bevXsdy4sXL9YNN9xwpca6KkpLS5Wenq6jR48qLy9PPj4+GjFihGN7RkaGli9frl27dmn37t1auXKlXn31Vcf2Tp06afbs2RfFW5I8PT2VkpKiefPmXfY8fn5+WrNmjWN59erV8vf3/4XP7sobNGiQysrKVFJSol69emngwIHOHgmWImDXsAYNGujee+/Vvn37HOtWrVql3/72t/L19VWLFi00ZcoUx7akpCT94x//qHEfHTt21PLlyyVJBw4ccJxpREZG6q233nLsl5aWpoceekh9+vRRo0aNtGHDBqWlpWns2LFKSkqSj4+PunbtqsOHD//kzMOGDVNmZqZjeeHChRo+fHiNff77klVaWpr+/Oc/S/q/s4cZM2YoODhYoaGhmj9/fq37StKKFSsUHR0tX19ftWrVSmvXrnVsy8vLU/fu3eXj46PExESVlJTUOvNdd92lgQMHytfXVw0bNtS4ceO0efNmx/bMzExNmDBBYWFhat68uSZMmFDjTGvs2LGKj49XgwYNLrrvyMhIjRo1Su3bt//J1+2Hhg0bpoULFzqWa3sN58+fr3bt2snHx0cRERGOoJ4+fVp33XWXjh07Jm9vb3l7e+vYsWOqqqrStGnT1KpVK/n4+Oimm26qcWb/4Ycfqk2bNvL399fYsWNrnGH+GA8PDw0dOlQFBQUqLi52rF+5cqWio6MdZ2i7d+92bHv22WfVvHlz+fj4KDIyUllZWZIuPq4/dha5du1aTZs2TcuWLZO3t7c6deokSVqwYIEiIiLk4+OjG264QYsWLbrk/HABBteUli1bmvXr1xtjjDl9+rQZPny4GTZsmGP7hg0bzO7du01VVZXZtWuXCQ4ONu+++64xxphly5aZLl26OPbNyckxAQEBpry83JSVlZmwsDDz+uuvm4qKCrNz507TpEkTs3fvXmOMMampqcbX19ds2rTJVFVVmbNnz5rU1FTj7+9vtm/fbioqKsyQIUPMoEGDap37iy++MJLMF198YcLCwkxlZaXZt2+fufHGG8369etNy5YtHftKMrm5uY7l1NRU88QTTzien7u7u5k8ebI5f/68WbVqlfHy8jInTpy4aN/t27cbX19fs27dOlNVVWW++uors3//fmOMMT179jQRERHm4MGD5syZM6Znz55m4sSJl3UMXnzxRdO1a1fHsq+vr9m2bZtj+dNPPzXe3t4X3a579+5m/vz5td5nbm6uuZwvV0lmz549Jjg42JSWlprS0lITHBxs9uzZU+P2K1euNIcOHTLV1dVm48aNxsvLy+zcudMYc+E1bN68eY37fe6550xUVJQ5cOCAqa6uNjk5OaakpMTxmElJSaa0tNTk5eWZwMBAs2bNmlrn+8tf/mKGDh1qjDGmvLzcTJw40TRp0sRUVFQYY4zZuXOnCQoKMtu2bTOVlZVmwYIFpmXLlubcuXPmwIEDJiwszBQUFBhjLnzOHDp0yBhT87jW9hx++HXxwxmMMaasrMz4+PiYAwcOGGOMOXbsmOPzGq6NM7Br0N133y0/Pz/5+vpq/fr1euyxxxzbbrvtNnXo0EH16tVTx44dNXjwYH388ceSpH79+ik3N1e5ubmSpDfeeEODBg3Sddddp5UrVyo8PFwjRoyQh4eHOnfurAEDBuidd95x3He/fv3UvXt31atXz3E20b9/f3Xp0sXx03ZOTs5Pzh4WFqbIyEh9+OGHyszMvOjM4XJ4enrqySeflKenp/r06SNvb28dPHjwov3mzZunkSNHKiEhQfXq1VPz5s3Vtm1bx/YRI0boxhtvlJeXl1JSUi45uyTt3r1bU6dO1fPPP+9YV1ZWpsaNGzuWGzdurLKysss6S/klGjRooL59+2rZsmVaunSpkpOTLzq7S0pKUqtWreTm5qaePXsqMTFRn3zyyY/e52uvvaZnnnlGkZGRcnNzU6dOndSkSRPH9kmTJsnPz0/XX3+9evXq9ZOv1VtvvSU/Pz95eXlp7ty5euedd+Th4SFJmjt3rkaPHq2uXbvK3d1dqampql+/vrZt2yZ3d3eVl5dr3759qqioUHh4uFq1avU/vloX1KtXT3v37tXZs2cVGhr6s8544TwE7Bq0fPlynTx5UuXl5Zo1a5Z69uypr7/+WpK0fft29erVS0FBQWrcuLHmzJnjuDRWv359paSk6M0331R1dbWWLFmiYcOGSbpwOW379u3y8/Nz/Fu0aJHjfiWpRYsWF83StGlTx8cNGzZUWVnZJecfPny4FixYoCVLlvyiX7Y3adLE8Q3xpx43Pz//J78B/tzZDx06pLvuuksvvfSS4uLiHOu9vb313XffOZa/++47eXt7X/abKn6J4cOHa+HChbVePpSkNWvW6JZbblFAQID8/Py0evXqH71EKl3Z1yolJUUnT55UUVGRoqKitHPnTse2vLw8zZgxo8bnWX5+vo4dO6bWrVtr5syZmjJlioKDg3Xffffp2LFjl3opLqlRo0ZatmyZ5syZo9DQUCUlJenAgQP/8/3i6iNg1zB3d3f1799f7u7u2rRpkyRpyJAhSk5OVn5+vr799luNGTOmxplAamqqFi1apKysLDVs2FCxsbGSLsSpZ8+eOnnypONfWVmZ/vnPfzpue6W+IQ8YMECrVq1SRESEWrZsedH2hg0b6syZM47lH0b052jRosUlfyd3ufLy8nTHHXdo8uTJjuh/r3379tq1a5djedeuXVf9J/y4uDgVFhaqqKhIt956a41t5eXlGjBggP74xz+qqKhIJ0+eVJ8+fRyfB7Udxyv5Wn0vMDBQr776qqZMmeJ412aLFi30xBNP1Pg8O3PmjAYPHizpwufvpk2blJeXJzc3N02cOFHShQhd7udEbc+vd+/eWr9+vQoLC9W2bVs9+OCDV/Kp4iohYNcwY4xWrFih0tJStWvXTpJ06tQpBQQEqEGDBtqxY4cWL15c4zaxsbGqV6+eJkyYUOMb8e9+9zv95z//0RtvvKGKigpVVFTo008/1f79+6/43I0aNdJHH330o/8dVnR0tBYvXqyqqiqtXbvWcQn05xo1apTmz5+vrKwsVVdXq6Cg4Bf95F1QUKDbb79dY8eO1ZgxYy7aPnz4cL3wwgsqKCjQsWPHNGPGDKWlpTm2nz9/XufOnZMxRhUVFTp37pyqq6slXTiG586d0/nz5yVJ586dU3l5+SVncnNz0/vvv6/33nvvom/Y58+fV3l5uYKCguTh4aE1a9Zo3bp1ju0hISH65ptv9O233zrWPfDAA5o8ebJyc3NljNHu3bv1zTff/KzXqTZt27ZV79699dxzz0mSHnzwQc2ZM0fbt2+XMUanT5/WqlWrdOrUKR08eFAfffSRysvL1aBBA3l5ecnd3V3Shc+J1atX68SJE/r66681c+bMH33MkJAQHT161PEaFxUV6b333tPp06dVv359eXt7O+4Xro2AXYP69u0rb29v+fr66oknnlBmZqbjJ/7Zs2frySeflI+Pj6ZOnaqUlJSLbj98+HDt2bOnxuU7Hx8frVu3TkuXLlWzZs3UtGlTTZw48bK+mf4SMTExP3rJ6qWXXtL777/vuIx59913/6LH6NKli+bPn69HH31UjRs3Vs+ePZWXl/ez7+e1117TkSNH9NRTTzneueft7e3YPnr0aPXt21cdOnRQVFSUkpKSNHr0aMf2xMREeXl5acuWLUpPT5eXl5f+9a9/SbpwZufl5eU4fl5eXoqMjLysudq3b1/rmZ6Pj49efvllpaSkyN/fX4sXL1ZycrJje9u2bTV48GBFRETIz89Px44d0/jx45WSkqLExET5+vpq1KhROnv27M9+rWrz2GOPKSMjQ8ePH1dMTIzmzp2rcePGyd/fX61bt3a8Y7O8vFyTJk1SYGCgmjZtquPHj2vatGmSLrzzslOnTgoPD1diYqIGDRr0o4/3/dv2mzRpos6dO6u6ulozZsxQs2bNFBAQoI8//lizZ8++Is8NV5ebuVq/SYa1Fi5cqIyMDMdlRwBwRZyBoYYzZ85o9uzZSk9Pd/YoAPCTCBgcPvjgAwUFBSkkJERDhgxx9jgA8JO4hAgAsBJnYAAAKxEwAICVPC69i50CAwOv2P+CAwB+LY4ePfqTf5XFlVyzAQsPD1d2drazxwAAq8TExDh7hMvGJUQAgJUIGADASgQMAGAlAgYAsBIBAwBYiYABAKxEwAAAViJgAAArXbP/IfP/InzSKmePcM06Oj3J2SMAuEZwBgYAsBIBAwBYiYABAKxEwAAAViJgAAArETAAgJUIGADASgQMAGAlAgYAsBIBAwBYiYABAKxEwAAAViJgAAArETAAgJUIGADASgQMAGAlAgYAsBIBAwBYiYABAKxEwAAAViJgAAArETAAgJVcKmD5+fnq1auX2rVrp/bt2+ull16SJJ04cUIJCQlq06aNEhISVFpa6uRJAQDO5lIB8/Dw0IwZM7R//35t27ZNr7zyivbt26fp06crPj5eubm5io+P1/Tp0509KgDAyVwqYKGhoercubMkycfHR+3atVNBQYFWrFih1NRUSVJqaqqWL1/uzDEBAC7ApQL2Q0ePHtVnn32mrl27qqioSKGhoZIuRO748eNOng4A4Gwezh6gNmVlZRowYIBmzpwpX1/fy75dRkaGMjIyJEnFxcVXazwAgAtwuTOwiooKDRgwQEOHDlX//v0lSSEhISosLJQkFRYWKjg4uNbbpqenKzs7W9nZ2QoKCqqzmQEAdc+lAmaM0ahRo9SuXTuNHz/esT45OVmZmZmSpMzMTPXr189ZIwIAXIRLXULcvHmz3njjDXXo0EHR0dGSpGnTpmnSpElKSUnRvHnzdP311+vtt9928qQAAGdzqYDdeuutMsbUui0rK6uOpwEAuDKXuoQIAMDlImAAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArETAAABWImAAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArETAAABWImAAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArETAAABWImAAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArETAAABWImAAACsRMACAlQgYAMBKLhWwkSNHKjg4WFFRUY51U6ZMUfPmzRUdHa3o6GitXr3aiRMCAFyFSwUsLS1Na9euvWj9o48+qpycHOXk5KhPnz5OmAwA4GpcKmA9evRQQECAs8cAAFjApQL2Y2bNmqWOHTtq5MiRKi0tdfY4AAAX4PIBe+ihh3T48GHl5OQoNDRUEyZM+NF9MzIyFBMTo5iYGBUXF9fhlACAuubyAQsJCZG7u7vq1aunBx98UDt27PjRfdPT05Wdna3s7GwFBQXV4ZQAgLrm8gErLCx0fPzuu+/WeIciAODXy8PZA/zQ4MGDtXHjRpWUlCgsLExPPfWUNm7cqJycHLm5uSk8PFyvvvqqs8cEALgAlwrYkiVLLlo3atQoJ0wCAHB1Ln8JEQCA2hAwAICVCBgAwEoEDABgJQIGALASAQMAWImAAQCsRMAAAFYiYAAAKxEwAICVCBgAwEoEDABgJQIGALASAQMAWImAAQCsRMAAAFYiYAAAKxEwAICVCBgAwEoEDABgJQIGALASAQMAWImAAQCsRMAAAFYiYAAAKxEwAICVCBgAwEoEDABgJQIGALASAQMAWImAAQCsRMAAAFYiYAAAKxEwAICVCBgAwEoEDABgJZcL2MiRIxUcHKyoqCjHuhMnTighIUFt2rRRQkKCSktLnTghAMAVuFzA0tLStHbt2hrrpk+frvj4eOXm5io+Pl7Tp0930nQAAFfhcgHr0aOHAgICaqxbsWKFUlNTJUmpqalavny5M0YDALgQlwtYbYqKihQaGipJCg0N1fHjx508EQDA2TycPcCVlJGRoYyMDElScXGxk6cBAFxNVpyBhYSEqLCwUJJUWFio4ODgWvdLT09Xdna2srOzFRQUVJcjAgDqmBUBS05OVmZmpiQpMzNT/fr1c/JEAABnc7mADR48WLGxsTp48KDCwsI0b948TZo0SevXr1ebNm20fv16TZo0ydljAgCczOV+B7ZkyZJa12dlZdXxJAAAV+ZyZ2AAAFwOAgYAsBIBAwBYiYABAKxEwAAAViJgAAArETAAgJUIGADASgQMAGAlAgYAsBIBAwBYiYABAKxEwAAAViJgAAArETAAgJUIGADASgQMAGAlAgYAsBIBAwBYiYABAKxEwAAAViJgAAAreTh7AAC/TuGTVjl7hGvW0elJzh6hTnAGBgCwEgEDAFiJgAEArETAAABWImAAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArETAAABWImAAACtZ89fow8PD5ePjI3d3d3l4eCg7O9vZIwEAnMiagEnShg0bFBgY6OwxAAAugEuIAAArWRMwNzc3JSYm6qabblJGRoazxwEAOJk1lxA3b96sZs2a6fjx40pISFDbtm3Vo0ePGvtkZGQ44lZcXOyMMQEAdcSaM7BmzZpJkoKDg3XPPfdox44dF+2Tnp6u7OxsZWdnKygoqK5HBADUISsCdvr0aZ06dcrx8bp16xQVFeXkqQAAzmTFJcSioiLdc889kqTKykoNGTJEd955p5OnAgA4kxUBi4iI0K5du5w9BgDAhVhxCREAgP9GwAAAViJgAAArETAAgJWseBMHcCnhk1Y5e4Rr1tHpSc4eAagVZ2AAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArETAAABWImAAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArETAAABWImAAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArETAAABWImAAACsRMACAlQgYAMBKBAwAYCUCBgCwEgEDAFiJgAEArGRNwNauXavIyEi1bt1a06dPd/Y4AAAnsyJgVVVVGjt2rNasWaN9+/ZpyZIl2rdvn7PHAgA4kRUB27Fjh1q3bq2IiAhdd911uu+++7RixQpnjwUAcCIrAlZQUKAWLVo4lsPCwlRQUODEiQAAzubh7AEuhzHmonVubm4XrcvIyFBGRoYk6cCBA4qJiflFjxf4i27lPMXFxQoKCnL2GJclJuYvV+V+bTpmNh0viWMm/bqO2dGjR6/cIFeZFQELCwtTfn6+Y/mrr75Ss2bNLtovPT1d6enpdTmaS4iJiVF2drazx8Bl4njZh2Pmmqy4hHjzzTcrNzdXX3zxhc6fP6+lS5cqOTnZ2WMBAJzIijMwDw8PzZo1S71791ZVVZVGjhyp9u3bO3ssAIATWREwSerTp4/69Onj7DFc0q/xsqnNOF724Zi5JjdT2zskAABwcVb8DgwAgP9GwFzQo48+qpkzZzqWe/furQceeMCxPGHCBE2bNk333nuvM8bD/+fu7q7o6Gi1b99enTp10gsvvKDq6mpnj4VaeHt7O3sEXAUEzAV169ZNW7ZskSRVV1erpKREn3/+uWP7li1bFB8fr3feecdZI0KSl5eXcnJy9Pnnn2v9+vVavXq1nnrqqYv2q6ysdMJ0wLWPgLmg7t27OwL2+eefKyoqSj4+PiotLVV5ebn2798vf39/RUVFSZIWLFig/v37684771SbNm30+OOPS7rwNyTT0tIUFRWlDh066MUXX3Tac7rWBQcHKyMjQ7NmzZIxRgsWLNDAgQPVt29fJSYmqqysTPHx8ercubM6dOjg+FNozz33nF5++WVJF868b7/9dklSVlaW7r//fo7hVZSXl6f4+Hh17NhR8fHx+vLLLyVJb7/9tqKiotSpUyf16NFD0oWvwy5duig6OlodO3ZUbm6uJOnNN990rB89erSqqqo4ZnXImnch/po0a9ZMHh4e+vLLL7VlyxbFxsaqoKBAW7duVePGjdWxY0ddd911NW6Tk5Ojzz77TPXr11dkZKQefvhhHT9+XAUFBdq7d68k6eTJk854Or8aERERqq6u1vHjxyVJW7du1e7duxUQEKDKykq9++678vX1VUlJiW655RYlJyerR48emjFjhh555BFlZ2ervLxcFRUV2rRpk+Li4pSTk8MxvErGjRun4cOHKzU1Va+//roeeeQRLV++XFOnTtUHH3yg5s2bO17vOXPm6A9/+IOGDh2q8+fPq6qqSvv379eyZcu0efNmeXp66ve//70WLVqk9u3bc8zqCGdgLur7s7DvAxYbG+tY7tat20X7x8fHq3HjxmrQoIF+85vfKC8vTxERETpy5IgefvhhrV27Vr6+vk54Jr8uP3xTb0JCggICAhzr//SnP6ljx4664447VFBQoKKiIt10003auXOnTp06pfr16ys2NlbZ2dn65JNPFBcXxzG8irZu3aohQ4ZIkoYNG6ZNmzZJuvC1l5aWprlz56qqqkqSFBsbq2nTpunZZ59VXl6evLy8lJWVpZ07d+rmm29WdHS0srKydOTIEY5ZHSJgLur734Pt2bNHUVFRuuWWW7R161Zt2bJF3bt3v2j/+vXrOz52d3dXZWWl/P39tWvXLt1222165ZVXarwRBFfekSNH5O7uruDgYElSo0aNHNsWLVqk4uJi7dy5Uzk5OQoJCdG5c+fk6emp8PBwzZ8/X926dVNcXJw2bNigw4cPq127dhzDOvT931edM2eOnnnmGeXn5ys6OlrffPONhgwZovfee09eXl7q3bu3PvroIxljlJqaqpycHOXk5OjgwYOaMmUKx6wOETAX1b17d61cuVIBAQFyd3dXQECATp48qa1btyo2Nvay7qOkpETV1dUaMGCAnn76af373/++ylP/ehUXF2vMmDEaN25crX9o+ttvv1VwcLA8PT21YcMG5eXlObb16NFDf//739WjRw/FxcVpzpw5io6OlpubG8fwKurWrZuWLl0q6cIPGLfeeqsk6fDhw+rataumTp2qwMBA5efnO86sHnnkESUnJ2v37t2ON1J9f8n4xIkTysvL45jVIX4H5qI6dOigkpISxyWO79eVlZUpMDBQZWVll7yPgoICjRgxwvHW7r/97W9Xbd5fo7Nnzyo6OloVFRXy8PDQsGHDNH78+Fr3HTp0qPr27auYmBhFR0erbdu2jm1xcXH661//qtjYWDVq1EgNGjRQXFycJI7hlXLmzBmFhYU5lsePH6+XX35ZI0eO1PPPP6+goCDNnz9fkvTYY48pNzdXxhjFx8erU6dOmj59ut588015enqqadOmevLJJxUQEKBnnnlGiYmJqq6ulqenp1555RV5eXlxzOoIf4kDAGAlLiECAKxEwAAAViJgAAArETAAgJUIGADASgQMAGAlAgYAsBIBAwBYiYABAKxEwAAAViJgAAArETAAgJUIGADASgQMAGAlAgYAsBIBAwBYiYABAKxEwAAAViJgAAArETAAgJX+H57zAlR4srpBAAAAAElFTkSuQmCC', 'rainy_win_percentage': 71.43}

# Summary

In this lab, we dug deep and used everything we've learned so far about python programming, databases, HTTP requests and API calls to ETL data from a SQL database into a MongoDB instance!